<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
    {{>background}}
</head>

<body>
    <div class="main-content">
            {{>header}}
        <h3>{{error_msg}}</h3>
    </div>
</body>

</html>