<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    {{>background}}
</head>

<body>
        {{>header}}
        <div class=details>
            <div class=pic>
                <h2>1</h2>
                <span>
                    <a href="/api/orders/1">
                        <img class="portrait" src="/img/res1.jpg" height="150"/>
                    </a>
                </span>
            </div>

            <div class=pic>
                <h2>2</h2>
                <span>
                    <a href="/api/orders/2">
                        <img class="portrait" src="/img/res2.jpg" height="150" />
                    </a>
                </span>
            </div>

            <div class=pic>
                <h2>3</h2>
                <span>
                    <a href="/api/orders/3">
                        <img class="portrait" src="/img/res3.jpg" height="150" />
                    </a>
                </span>
            </div>

            <div class=pic>
                <h2>4</h2>
                <span>
                    <a href="/api/orders/4">
                        <img class="portrait" src="/img/res4.jpg" height="150" />
                    </a>
                </span>
            </div>
        </div>
    {{!-- {{>footer}} --}}
</body>
</html>