<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    {{>background}}
</head>

<body>
        {{>header}}
        <div>
            <h3>This site was created by Avshalom Tam.</h3>
            
            <h3>To view the resturant orders by Serial Number, please click on "Search Orders" above</h3>
        </div>
</body>
</html>