<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    {{>background}}
</head>

<body>
       <div class=a>
        {{>header}}
        <div class=w>
            <p1>Water DB:</p1>
            <form id=form-send>
                    <header>
                        <div class=en>
                            <p>enter water clock:</p>
                        </div>
                        <select name="month" id="monthPickWater">
                            {{>month}}
                        </select>
                        <select name="yaer" id="yearPickWater">
                            {{>year}}
                        </select>
                        <input id="water-toDB" placeholder="Enter water clock" autocomplete="off">
                    </header> 
                
                <button id="save-to-db-water">Save to DB</button>
                    <div class=py>
                        <p id="messageDBWater"></p>
                    </div>
            </form>
            {{!-- <div class=py>
                <p id="waterUsage"></p>
                <p id="waterPay"></p>
            </div> --}}
        </div>

        <div class=e>
        <p1>Electricity DB:</p1>
        <form id=form-send>
            <header>
                <div class=en>
                    <p>enter electricity:</p>
                </div>
                <select name="month" id="monthPickElec">
                        {{>month}}
                </select>
                <select name="yaer" id="yearPickElec">
                        {{>year}}
                </select>
                <input id="elec-toDB" placeholder="Enter electricity clock" autocomplete="off">
            </header>
            
            <button id="save-to-db-elec">Save to DB</button>
                    <div class=py>
                        <p id="messageDBElec"></p>
                    </div>
        </form>
        {{!-- <div class=py>
            <p id="ElecUsage"></p>
            <p id="ElecPay"></p>
        </div> --}}
        </div>

        <div class=show>
        <p1>Older clocks:</p1>
        <form id=form-send>
            <header>
                <div class=en>
                    <p>Choose year/month:</p>
                </div>
                
                {{!-- {{>date}} --}}
                    <select name="month" id="monthPickRet">
                        {{>month}}
                    </select>
                    <select name="yaer" id="yearPickRet">
                        {{>year}}
                    </select>
                
                    <select name="kind" id="kindRet">
                        <option value="Water">Water</option>
                        <option value="Electricity">Electricity</option>
                    </select>
                {{!-- <input id="elec-old" placeholder="Enter old clock"> --}}
            </header>
            
            <button id="retrieve">Retrieve from DB</button>
                    <div class=py>
                        <p id="oldClocks"></p>
                    </div>
        </form>
        {{!-- <div class=py>
            <p id="ElecUsage"></p>
            <p id="ElecPay"></p>
        </div> --}}
        </div>
    </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/oldClocks.js"></script>
</body>
</html>