<!DOCTYPE html>
<html>
<head>
    {{>background}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    
    <div class=a>
        {{>header}}
        <div class=w>
            <p1>Water calculation:</p1>
            <form id=form-send>
                    <header>
                        <div class=en>
                            <p>enter old clock:</p>
                        </div>
                        <input id="water-old" placeholder="Enter old clock" autocomplete="off">
                    </header>
                    <header>
                        <div class=en>
                            <p>enter new clock:</p>
                        </div>
                        <input id="water-new" placeholder="Enter new clock" autocomplete="off">
                    </header>
                <div class=p>
                    <p id="tariffWaterMsg"></p>
                </div>    
                
                <button id="calc-water">Calculate water</button>
            </form>
            <div class=py>
                <p id="waterUsage"></p>
                <p id="waterPay"></p>
            </div>
            
        </div>

        <div class=e>
        <p1>Electricity calculation:</p1>
        <form id=form-send>
            <header>
                <div class=en>
                    <p>enter old clock:</p>
                </div>
                <input id="elec-old" placeholder="Enter old clock" autocomplete="off">
            </header>
            <header>
                <div class=en>
                    <p>enter new clock:</p>
                </div>
                <input id="elec-new" placeholder="Enter new clock" autocomplete="off">
            </header>
            <div class=p>
                <p id="tariffElecMsg"></p>
            </div>
            
            <button id="calc-elec">Calculate Electricity</button>
        </form>
        <div class=py>
            <p id="ElecUsage"></p>
            <p id="ElecPay"></p>
        </div>
        </div>
    </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/calculator.js"></script>
</body>

</html>
