<header class="header">
    <h1>Restaurants</h1>
    {{!-- <h1>{{title}}</h1> --}}
    <div class="bar">
        <a href="/">Choose Restaurant</a>
        <a href="/search">Search</a>
        {{!-- <a href="/aboutMe">Resturants</a> --}}
    </div>

</header>