<users>
    <div>
        <p id="user-1"></p>
        <p id="user-2"></p>
        <p id="user-3"></p>
        <p id="user-4"></p>
        <p id="user-5"></p>
    </div>
    <script src="/js/search.js"></script>
</users>